@model IEnumerable<MvcApplication.Models.Genre>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutMaster.cshtml";
}

<h2>Index</h2>
<p>Select from @Model.Count() genres:</p>
<ul>
        @foreach (var item in Model)
        {
            <li>@Html.ActionLink(item.Name, "Browse", new { genre=item.Name })</li>
        }
</ul>